#clear,
.clear {
  float: none;
  clear: both;
}
h2 {
  font: bold 16px Arial;
}
.subtitulo h2 {
  width: 320px;
  font: 16px Arial;
  background-color: #eaf6fd;
  color: #666666;
  padding-left: 4px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
h3 {
  font: 14px Arial;
  padding-left: 3px;
}
h4 {
  font: bold 14px Arial;
  padding-left: 3px;
}
h5 {
  font: bold 12px Arial;
  padding-left: 5px;
}
h6 {
  font: italic 12px Arial;
  padding-left: 5px;
}
h7 {
  font: italic bold 12px Arial;
  padding-left: 5px;
}
img a {
  border: none;
}
#slideshow_padre .slides_container {
  width: 496px;
  height: 280px;
  overflow: hidden;
  position: relative;
}
#slideshow_padre .slides_container div {
  height: 280px;
  display: block;
}
#slideshow_padre .slides_container div h1 {
  font: 18px Verdana, Helvetica, Arial;
  color: #005d8c;
  margin-top: 2px;
  magin-bottom: 2p;
  padding-top: 2px;
  padding-bottom: 2px;
}
